include ./includes/head.jade
div.content
    img.full-width(src="http://lorempixel.com/1162/324/fashion")
    h2 О компании
    p Наш ювелирный интернет магазин «СТЕРЛИНГ9» предлагает Вашему вниманию высококачественные ювелирные изделия из серебра (925 пробы), выполненные украинскими мастерами ювелирного дела.

    p Торговая марка «СТЕРЛИНГ9» есть результат многолетнего труда команды профессионалов, начиная с 1992 года. ТМ «СТЕРЛИНГ9» занимает одно из лидирующих позиций на украинском рынке серебряных украшений благодаря их качеству и хорошо настроенному производственному процессу с использованием современного оборудования и технологий. Уникальность серебряных изделий ТМ «СТЕРЛИНГ9» в том, что в них сочетается ручная работа ювелира и применение современного оборудования на всех стадиях их создания.
    img.full-width(src="http://lorempixel.com/1162/324/fashion")

    h2 Процесс
    p Производство серебрянных украшений — это полный технологический цикл создания серебряного украшения любой сложности. На первом этапе наши художники и дизайнеры создают уникальный прототип будущего ювелирного изделия в виде 3D-модели. 

    p После этого производится литье драгоценного металла по выплавляемым моделям. Отлитые детали проходят механическую обработку, позволяющую собрать их в единое целое. На этапе закрепки в изделие вставляются заранее подготовленные синтетические вставки. Окончательный лоск изделию придает полировка. Далее серебряные украшения поступают в отдел контроля качества, где проводится полный анализ их характеристик (веса, размера, надежности соединений, блеска и т.д.). 

    p И, наконец, изделия проходят стадию химического анализа на соответствие заявленной производителем пробы, опробуются и после всех этих операций изделия биркуются и поступают на склад готовой продукции.

    img.full-width(src="http://lorempixel.com/1162/324/fashion")

    h2 Как купить

    p Выберите в нашем каталоге понравившееся серебряное украшение, добавьте его в корзину и сделайте заказ. Наш представитель свяжется с Вами по телефону, чтобы обсудить детали доставки и оплаты.
    p Также серебрянные изделия можно приобрести во всех крупных населенных пунктах Украины. Нашими партнерами являются все крупнейшые в  Украине сети магазинов по продаже ювелирных изделий. 
    p А вообще, наши изделия говорят сами за себя! Лучше один раз увидеть...

    iframe(width='560', height='315', src='https://www.youtube.com/embed/3zvfgtO7Dgs', frameborder='0', allowfullscreen='')

include ./includes/footer.jade
