include ./includes/head.jade
.articles
    .articles__item
        .articles__item__text
            h2.articles__item__title Заголовок статьи
            .articles__item__date 19 Nov 2014
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident neque assumenda velit. Repellendus ducimus amet error excepturi. Perferendis corrupti nobis dolore quae debitis, optio exercitationem nam, voluptas deleniti, dolor laboriosam tempora tempore nesciunt reprehenderit enim quisquam eos. Maiores ut voluptatem, optio, possimus dolore sint. Harum in rerum explicabo unde fugit!
            a(href="#").articles__item__link Читать полностью &gt;&gt;
        .articles__item__thumb
            img(src="http://lorempixel.com/g/460/460/business")
    .articles__item
        .articles__item__text
            h2.articles__item__title Заголовок статьи
            .articles__item__date 19 Nov 2014
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident neque assumenda velit. Repellendus ducimus amet error excepturi. Perferendis corrupti nobis dolore quae debitis, optio exercitationem nam, voluptas deleniti, dolor laboriosam tempora tempore nesciunt reprehenderit enim quisquam eos. Maiores ut voluptatem, optio, possimus dolore sint. Harum in rerum explicabo unde fugit!
            a(href="#").articles__item__link Читать полностью &gt;&gt;
        .articles__item__thumb
            img(src="http://lorempixel.com/g/460/460/business")
    .articles__item
        .articles__item__text
            h2.articles__item__title Заголовок статьи
            .articles__item__date 19 Nov 2014
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident neque assumenda velit. Repellendus ducimus amet error excepturi. Perferendis corrupti nobis dolore quae debitis, optio exercitationem nam, voluptas deleniti, dolor laboriosam tempora tempore nesciunt reprehenderit enim quisquam eos. Maiores ut voluptatem, optio, possimus dolore sint. Harum in rerum explicabo unde fugit!
            a(href="#").articles__item__link Читать полностью &gt;&gt;
        .articles__item__thumb
            img(src="http://lorempixel.com/g/460/460/business")
    .articles__item
        .articles__item__text
            h2.articles__item__title Заголовок статьи
            .articles__item__date 19 Nov 2014
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident neque assumenda velit. Repellendus ducimus amet error excepturi. Perferendis corrupti nobis dolore quae debitis, optio exercitationem nam, voluptas deleniti, dolor laboriosam tempora tempore nesciunt reprehenderit enim quisquam eos. Maiores ut voluptatem, optio, possimus dolore sint. Harum in rerum explicabo unde fugit!
            a(href="#").articles__item__link Читать полностью &gt;&gt;
        .articles__item__thumb
            img(src="http://lorempixel.com/g/460/460/business")
include ./includes/footer.jade