include ./includes/head.jade
.map
    image.map__image(src="../img/contact.jpg")
    .map__letter
        .map__letter__text
            h2 СТЕРЛИНГ9, ООО
            p ул.Кирова, 38 <br/> г.Харьков, 61001 <br/> Украина

.contacts
    .contact__item
        h3.contact__item__title РОЗНИЧНАЯ ТОРГОВЛЯ
        .contact__item__numbers +38 (066) 344 79 50 <br/> +38 (097) 783 39 99
        .contact__item__skype sterling9_ltd
        .contact__item__email order@sterling9.com.ua
    .contact__item
        h3.contact__item__title ОПТОВАЯ ТОРГОВЛЯ
        .contact__item__numbers +38 (066) 344 79 50 <br/> +38 (097) 783 39 99
        .contact__item__skype sterling9_ltd
        .contact__item__email order@sterling9.com.ua
.contact__item
        .contact__item__title Написать письмо
        form.contact__form
            input.contact__form__name(type="text" placeholder="Имя")
            input.contact__form__email(type="email" placeholder="E-mail")
            textarea.contact__form__text(type="text" placeholder="Введите текст сообщения")
            input.contact__form__submit(type="submit" value="ОТПРАВИТЬ")

include ./includes/footer.jade