include ./includes/head.jade
.filter
    .filter__row
        .filter__row__type
            select 
                option Тип кольца
                option 2
                option 3
                option 4
        .filter__row__stone
            select 
                option Вставка
                option 2
                option 3
                option 4
        .filter__row__price
            | Цена
        .filter__row__output
            | Выводить

.products.clearfix
    .products__item.products__item--warning
        img(src="http://lorempixel.com/164/160/fashion").products__item__image
        a.products__item__title(href="#") Кольцо
        span.products__item__sku Арт. 123456
        span.products__item__price 1000 грн.
    .products__item.products__item--success
        img(src="http://lorempixel.com/164/160/fashion").products__item__image
        a.products__item__title(href="#") Кольцо
        span.products__item__sku Арт. 123456
        span.products__item__price 1000 грн.
    .products__item.products__item--info
        img(src="http://lorempixel.com/164/160/fashion").products__item__image
        a.products__item__title(href="#") Кольцо
        span.products__item__sku Арт. 123456
        span.products__item__price 1000 грн.    
    .products__item
        img(src="http://lorempixel.com/164/160/fashion").products__item__image
        a.products__item__title(href="#") Кольцо
        span.products__item__sku Арт. 123456
        span.products__item__price 1000 грн.    
    .products__item
        img(src="http://lorempixel.com/164/160/fashion").products__item__image
        a.products__item__title(href="#") Кольцо
        span.products__item__sku Арт. 123456
        span.products__item__price 1000 грн.
    .products__item.products__item__last
        img(src="http://lorempixel.com/164/160/fashion").products__item__image
        a.products__item__title(href="#") Кольцо
        span.products__item__sku Арт. 123456
        span.products__item__price 1000 грн.

    .products__item.products__item--warning
        img(src="http://lorempixel.com/164/160/fashion").products__item__image
        a.products__item__title(href="#") Кольцо
        span.products__item__sku Арт. 123456
        span.products__item__price 1000 грн.
    .products__item.products__item--success
        img(src="http://lorempixel.com/164/160/fashion").products__item__image
        a.products__item__title(href="#") Кольцо
        span.products__item__sku Арт. 123456
        span.products__item__price 1000 грн.
    .products__item.products__item--info
        img(src="http://lorempixel.com/164/160/fashion").products__item__image
        a.products__item__title(href="#") Кольцо
        span.products__item__sku Арт. 123456
        span.products__item__price 1000 грн.    
    .products__item
        img(src="http://lorempixel.com/164/160/fashion").products__item__image
        a.products__item__title(href="#") Кольцо
        span.products__item__sku Арт. 123456
        span.products__item__price 1000 грн.    
    .products__item
        img(src="http://lorempixel.com/164/160/fashion").products__item__image
        a.products__item__title(href="#") Кольцо
        span.products__item__sku Арт. 123456
        span.products__item__price 1000 грн.
    .products__item.products__item__last
        img(src="http://lorempixel.com/164/160/fashion").products__item__image
        a.products__item__title(href="#") Кольцо
        span.products__item__sku Арт. 123456
        span.products__item__price 1000 грн.

    .products__item.products__item--warning
        img(src="http://lorempixel.com/164/160/fashion").products__item__image
        a.products__item__title(href="#") Кольцо
        span.products__item__sku Арт. 123456
        span.products__item__price 1000 грн.
    .products__item.products__item--success
        img(src="http://lorempixel.com/164/160/fashion").products__item__image
        a.products__item__title(href="#") Кольцо
        span.products__item__sku Арт. 123456
        span.products__item__price 1000 грн.
    .products__item.products__item--info
        img(src="http://lorempixel.com/164/160/fashion").products__item__image
        a.products__item__title(href="#") Кольцо
        span.products__item__sku Арт. 123456
        span.products__item__price 1000 грн.    
    .products__item
        img(src="http://lorempixel.com/164/160/fashion").products__item__image
        a.products__item__title(href="#") Кольцо
        span.products__item__sku Арт. 123456
        span.products__item__price 1000 грн.    
    .products__item
        img(src="http://lorempixel.com/164/160/fashion").products__item__image
        a.products__item__title(href="#") Кольцо
        span.products__item__sku Арт. 123456
        span.products__item__price 1000 грн.
    .products__item.products__item__last
        img(src="http://lorempixel.com/164/160/fashion").products__item__image
        a.products__item__title(href="#") Кольцо
        span.products__item__sku Арт. 123456
        span.products__item__price 1000 грн.

    .products__item.products__item--warning
        img(src="http://lorempixel.com/164/160/fashion").products__item__image
        a.products__item__title(href="#") Кольцо
        span.products__item__sku Арт. 123456
        span.products__item__price 1000 грн.
    .products__item.products__item--success
        img(src="http://lorempixel.com/164/160/fashion").products__item__image
        a.products__item__title(href="#") Кольцо
        span.products__item__sku Арт. 123456
        span.products__item__price 1000 грн.
    .products__item.products__item--info
        img(src="http://lorempixel.com/164/160/fashion").products__item__image
        a.products__item__title(href="#") Кольцо
        span.products__item__sku Арт. 123456
        span.products__item__price 1000 грн.    
    .products__item
        img(src="http://lorempixel.com/164/160/fashion").products__item__image
        a.products__item__title(href="#") Кольцо
        span.products__item__sku Арт. 123456
        span.products__item__price 1000 грн.    
    .products__item
        img(src="http://lorempixel.com/164/160/fashion").products__item__image
        a.products__item__title(href="#") Кольцо
        span.products__item__sku Арт. 123456
        span.products__item__price 1000 грн.
    .products__item.products__item__last
        img(src="http://lorempixel.com/164/160/fashion").products__item__image
        a.products__item__title(href="#") Кольцо
        span.products__item__sku Арт. 123456
        span.products__item__price 1000 грн.

    .products__item.products__item--warning
        img(src="http://lorempixel.com/164/160/fashion").products__item__image
        a.products__item__title(href="#") Кольцо
        span.products__item__sku Арт. 123456
        span.products__item__price 1000 грн.
    .products__item.products__item--success
        img(src="http://lorempixel.com/164/160/fashion").products__item__image
        a.products__item__title(href="#") Кольцо
        span.products__item__sku Арт. 123456
        span.products__item__price 1000 грн.
    .products__item.products__item--info
        img(src="http://lorempixel.com/164/160/fashion").products__item__image
        a.products__item__title(href="#") Кольцо
        span.products__item__sku Арт. 123456
        span.products__item__price 1000 грн.    
    .products__item
        img(src="http://lorempixel.com/164/160/fashion").products__item__image
        a.products__item__title(href="#") Кольцо
        span.products__item__sku Арт. 123456
        span.products__item__price 1000 грн.    
    .products__item
        img(src="http://lorempixel.com/164/160/fashion").products__item__image
        a.products__item__title(href="#") Кольцо
        span.products__item__sku Арт. 123456
        span.products__item__price 1000 грн.
    .products__item.products__item__last
        img(src="http://lorempixel.com/164/160/fashion").products__item__image
        a.products__item__title(href="#") Кольцо
        span.products__item__sku Арт. 123456
        span.products__item__price 1000 грн.

    .products__item.products__item--warning
        img(src="http://lorempixel.com/164/160/fashion").products__item__image
        a.products__item__title(href="#") Кольцо
        span.products__item__sku Арт. 123456
        span.products__item__price 1000 грн.
    .products__item.products__item--success
        img(src="http://lorempixel.com/164/160/fashion").products__item__image
        a.products__item__title(href="#") Кольцо
        span.products__item__sku Арт. 123456
        span.products__item__price 1000 грн.
    .products__item.products__item--info
        img(src="http://lorempixel.com/164/160/fashion").products__item__image
        a.products__item__title(href="#") Кольцо
        span.products__item__sku Арт. 123456
        span.products__item__price 1000 грн.    
    .products__item
        img(src="http://lorempixel.com/164/160/fashion").products__item__image
        a.products__item__title(href="#") Кольцо
        span.products__item__sku Арт. 123456
        span.products__item__price 1000 грн.    
    .products__item
        img(src="http://lorempixel.com/164/160/fashion").products__item__image
        a.products__item__title(href="#") Кольцо
        span.products__item__sku Арт. 123456
        span.products__item__price 1000 грн.
    .products__item.products__item__last
        img(src="http://lorempixel.com/164/160/fashion").products__item__image
        a.products__item__title(href="#") Кольцо
        span.products__item__sku Арт. 123456
        span.products__item__price 1000 грн.

.show
    a.show__more.show__more--success(href="#") ПОКАЗАТЬ ЕЩЁ

include ./includes/footer.jade