include ./includes/head.jade
.filter
    .filter__type Тип кольца
    .filter__stone Вставка
    .filter__price Цена
    .filter__output Выводить
    .filter__clear очистить фильтр
    
.products.clearfix
    .products__item.products__item--warning
        img(src="http://lorempixel.com/164/160/fashion").products__item__image
        a.products__item__title(href="#") Кольцо
        span.products__item__sku Арт. 123456
        span.products__item__price 1000 грн.
    .products__item.products__item--success
        img(src="http://lorempixel.com/164/160/fashion").products__item__image
        a.products__item__title(href="#") Кольцо
        span.products__item__sku Арт. 123456
        span.products__item__price 1000 грн.
    .products__item.products__item--info
        img(src="http://lorempixel.com/164/160/fashion").products__item__image
        a.products__item__title(href="#") Кольцо
        span.products__item__sku Арт. 123456
        span.products__item__price 1000 грн.    
    .products__item
        img(src="http://lorempixel.com/164/160/fashion").products__item__image
        a.products__item__title(href="#") Кольцо
        span.products__item__sku Арт. 123456
        span.products__item__price 1000 грн.    
    .products__item
        img(src="http://lorempixel.com/164/160/fashion").products__item__image
        a.products__item__title(href="#") Кольцо
        span.products__item__sku Арт. 123456
        span.products__item__price 1000 грн.
    .products__item.products__item__last
        img(src="http://lorempixel.com/164/160/fashion").products__item__image
        a.products__item__title(href="#") Кольцо
        span.products__item__sku Арт. 123456
        span.products__item__price 1000 грн.
    .products__item.products__item--warning
        img(src="http://lorempixel.com/164/160/fashion").products__item__image
        a.products__item__title(href="#") Кольцо
        span.products__item__sku Арт. 123456
        span.products__item__price 1000 грн.
    .products__item.products__item--success
        img(src="http://lorempixel.com/164/160/fashion").products__item__image
        a.products__item__title(href="#") Кольцо
        span.products__item__sku Арт. 123456
        span.products__item__price 1000 грн.
    .products__item.products__item--info
        img(src="http://lorempixel.com/164/160/fashion").products__item__image
        a.products__item__title(href="#") Кольцо
        span.products__item__sku Арт. 123456
        span.products__item__price 1000 грн.    
    .products__item
        img(src="http://lorempixel.com/164/160/fashion").products__item__image
        a.products__item__title(href="#") Кольцо
        span.products__item__sku Арт. 123456
        span.products__item__price 1000 грн.    
    .products__item
        img(src="http://lorempixel.com/164/160/fashion").products__item__image
        a.products__item__title(href="#") Кольцо
        span.products__item__sku Арт. 123456
        span.products__item__price 1000 грн.
    .products__item.products__item__last
        img(src="http://lorempixel.com/164/160/fashion").products__item__image
        a.products__item__title(href="#") Кольцо
        span.products__item__sku Арт. 123456
        span.products__item__price 1000 грн.
    .products__item.products__item--warning
        img(src="http://lorempixel.com/164/160/fashion").products__item__image
        a.products__item__title(href="#") Кольцо
        span.products__item__sku Арт. 123456
        span.products__item__price 1000 грн.
    .products__item.products__item--success
        img(src="http://lorempixel.com/164/160/fashion").products__item__image
        a.products__item__title(href="#") Кольцо
        span.products__item__sku Арт. 123456
        span.products__item__price 1000 грн.
    .products__item.products__item--info
        img(src="http://lorempixel.com/164/160/fashion").products__item__image
        a.products__item__title(href="#") Кольцо
        span.products__item__sku Арт. 123456
        span.products__item__price 1000 грн.    
    .products__item
        img(src="http://lorempixel.com/164/160/fashion").products__item__image
        a.products__item__title(href="#") Кольцо
        span.products__item__sku Арт. 123456
        span.products__item__price 1000 грн.    
    .products__item
        img(src="http://lorempixel.com/164/160/fashion").products__item__image
        a.products__item__title(href="#") Кольцо
        span.products__item__sku Арт. 123456
        span.products__item__price 1000 грн.
    .products__item.products__item__last
        img(src="http://lorempixel.com/164/160/fashion").products__item__image
        a.products__item__title(href="#") Кольцо
        span.products__item__sku Арт. 123456
        span.products__item__price 1000 грн.
    .products__item.products__item--warning
        img(src="http://lorempixel.com/164/160/fashion").products__item__image
        a.products__item__title(href="#") Кольцо
        span.products__item__sku Арт. 123456
        span.products__item__price 1000 грн.
    .products__item.products__item--success
        img(src="http://lorempixel.com/164/160/fashion").products__item__image
        a.products__item__title(href="#") Кольцо
        span.products__item__sku Арт. 123456
        span.products__item__price 1000 грн.
    .products__item.products__item--info
        img(src="http://lorempixel.com/164/160/fashion").products__item__image
        a.products__item__title(href="#") Кольцо
        span.products__item__sku Арт. 123456
        span.products__item__price 1000 грн.    
    .products__item
        img(src="http://lorempixel.com/164/160/fashion").products__item__image
        a.products__item__title(href="#") Кольцо
        span.products__item__sku Арт. 123456
        span.products__item__price 1000 грн.    
    .products__item
        img(src="http://lorempixel.com/164/160/fashion").products__item__image
        a.products__item__title(href="#") Кольцо
        span.products__item__sku Арт. 123456
        span.products__item__price 1000 грн.
    .products__item.products__item__last
        img(src="http://lorempixel.com/164/160/fashion").products__item__image
        a.products__item__title(href="#") Кольцо
        span.products__item__sku Арт. 123456
        span.products__item__price 1000 грн.
    .products__item.products__item--warning
        img(src="http://lorempixel.com/164/160/fashion").products__item__image
        a.products__item__title(href="#") Кольцо
        span.products__item__sku Арт. 123456
        span.products__item__price 1000 грн.
    .products__item.products__item--success
        img(src="http://lorempixel.com/164/160/fashion").products__item__image
        a.products__item__title(href="#") Кольцо
        span.products__item__sku Арт. 123456
        span.products__item__price 1000 грн.
    .products__item.products__item--info
        img(src="http://lorempixel.com/164/160/fashion").products__item__image
        a.products__item__title(href="#") Кольцо
        span.products__item__sku Арт. 123456
        span.products__item__price 1000 грн.    
    .products__item
        img(src="http://lorempixel.com/164/160/fashion").products__item__image
        a.products__item__title(href="#") Кольцо
        span.products__item__sku Арт. 123456
        span.products__item__price 1000 грн.    
    .products__item
        img(src="http://lorempixel.com/164/160/fashion").products__item__image
        a.products__item__title(href="#") Кольцо
        span.products__item__sku Арт. 123456
        span.products__item__price 1000 грн.
    .products__item.products__item__last
        img(src="http://lorempixel.com/164/160/fashion").products__item__image
        a.products__item__title(href="#") Кольцо
        span.products__item__sku Арт. 123456
        span.products__item__price 1000 грн.
    .products__item.products__item--warning
        img(src="http://lorempixel.com/164/160/fashion").products__item__image
        a.products__item__title(href="#") Кольцо
        span.products__item__sku Арт. 123456
        span.products__item__price 1000 грн.
    .products__item.products__item--success
        img(src="http://lorempixel.com/164/160/fashion").products__item__image
        a.products__item__title(href="#") Кольцо
        span.products__item__sku Арт. 123456
        span.products__item__price 1000 грн.
    .products__item.products__item--info
        img(src="http://lorempixel.com/164/160/fashion").products__item__image
        a.products__item__title(href="#") Кольцо
        span.products__item__sku Арт. 123456
        span.products__item__price 1000 грн.    
    .products__item
        img(src="http://lorempixel.com/164/160/fashion").products__item__image
        a.products__item__title(href="#") Кольцо
        span.products__item__sku Арт. 123456
        span.products__item__price 1000 грн.    
    .products__item
        img(src="http://lorempixel.com/164/160/fashion").products__item__image
        a.products__item__title(href="#") Кольцо
        span.products__item__sku Арт. 123456
        span.products__item__price 1000 грн.
    .products__item.products__item__last
        img(src="http://lorempixel.com/164/160/fashion").products__item__image
        a.products__item__title(href="#") Кольцо
        span.products__item__sku Арт. 123456
        span.products__item__price 1000 грн.

include ./includes/footer.jade